.chat-main
  /グループ概要
  .chat-main__group-info
    .chat-main__group-content
      .chat-main__group-name
        = @group.name
      %ul.chat-main__group-member
        Member&nbsp:&nbsp
        %li.chat-main__group-member--name
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group), class: "chat-main__group-edit" do
      Edit
    /メッセージ一覧
  .chat-main__message-list
    = render @messages
  /メッセージフォーム
  .chat-main__message-form
    = form_for [@group, @message], html: {class: "chat-main__form"} do |f|
      .chat-main__input
        = f.text_field :text, class: "chat-main__input--text",name: "text", placeholder: "type a message", value: ""
        = f.label :image, class: "chat-main__input--label" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: "chat-main__input--file", name: "file", id: "message_image"
      = f.submit "Send", class: "chat-main__send"
