/ サイドバー画面
.side-bar
  / サイドバー ヘッダー
  .side-bar__user
    .user-info 
      .user-info__name
        = current_user.name
      %ul.user-info__icons
        %li.user-info__icons--edit
          = link_to new_group_path do
            %i.fas.fa-edit
        %li.user-info__icons--config
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
  / サイドバー グループリスト
  .side-bar__group-list
    .side-bar__content
      - current_user.groups.each do |group_name|
        = link_to group_messages_path(group_name), class: "side-bar__content--icon" do
          .name.side-bar__content--team
            %p.name.side-bar__content--name #{group_name.name}
            .side-bar__content--message
              %p #{group_name.show_last_message}